<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cool.music"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="26" />

    <!--允许程序访问网络连接，可能产生GPRS流量-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序获取网络信息状态，如当前的网络连接是否有效-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序获取当前WiFi接入的状态以及WLAN热点的信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序写入外部存储,如SD卡上写文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序挂载、反挂载外部文件系统-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--允许程序读取或写入系统设置-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 允许一个程序访问CellID或 WiFi热点来获取粗略的位置,高德天气 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--允许一个程序访问CellID或 WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--允许程序改变WiFi状态-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--允许程序访问电话状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序读取系统底层日志,Bugly -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:name=".application.MusicApplication"
        android:allowBackup="true"
        android:roundIcon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">

        <receiver android:name=".receiver.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.StatusBarReceiver">
            <intent-filter>
                <action android:name="cool.music.STATUS_BAR_ACTIONS" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8ddb342f2da5408402d7568af21e29f9"/>
            <!--android:value="3c3e99616cd8697c4b4b2aef22858a78" />-->

        <service android:name=".service.PlayService"/>

        <activity android:name=".activity.MusicActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.OnlineMusicActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.MusicInfoActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ArtistInfoActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.SearchMusicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Search"/>

        <activity android:name=".activity.PlaylistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/menu_setting"
            android:screenOrientation="portrait" />

    </application>
</manifest>